/*Register Form*/
.htm {
    height: 100%;
}
.bod {
    height: 100%;
    /*overflow: hidden;*/
}

#reg-wrap {
    transition-duration: 1s;
}

op {
    opacity: 1;
    transition-duration: 1s;
}

.dissapear {
    display: none !important;
}

/*register elements*/

.transparent {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    top: 0
}

/*pointers*/
.img-pointers {
    display: none;
}
/*end of pointers*/

.register {
    display: none;
}
.show {
    display: block;
    position: absolute;
    width: 100%;
    height: 5000px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    z-index: 2;
}
.hide {
    display: none;
}


.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}

.register-form {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.344);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 244, 244);
    margin-top: 50px;
    z-index: 10;
    border-radius: 2px;
}
/*close button*/
.btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: 100;
    z-index: 20;
}
/*End of close button*/

/*form title*/
.form-title {
    border-bottom: 1px solid rgb(229, 229, 229);
}
.form-title h4 {
    font-weight: 100;
    font-size: 24px;
    color: rgb(51, 51, 51);
}
/*end of form title*/

/*change time zone*/
.drop-id-chng {
    z-index: 10;
}
/*end of time zone*/

/*select date*/
.select-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 56px;
    margin-top: 35px;
    opacity: 1;
    transition-duration: 1s;
    z-index: 12;
}


.dropdown {
    width: 90%;
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    height: 56px;
    font-size: 18px;
    color: rgb(102, 102, 102);
    font-weight: 100;
    transition-duration: 1s;
}
.drop-colored {
    border: 1px solid black;
}

.drop-span {
    float: left;
}
.drop-span img {
    margin-right: 20px;
    margin-left: 10px;
}
.dots::before {
    content: '\e913';
    float: right;
    margin-right: 10px
}
/*dropdown menu*/
.drop-menu {
    display: none;
}
.drop-menu-show {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 86%;
    /*margin-top: 65px;*/
    top: 240px;
}
.drop-menu-show ul {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    font-size: 18px;
}
.drop-menu-show li {
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.light-font {
    color: rgb(187, 187, 187);
    cursor: not-allowed;
}
.normal-font {
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-bottom: 10px;
}
.slc-d-img {
    margin-left: -30px;
    margin-right: 20px;
}

/*end of dropdown menu*/

/*end of select date*/

.spacing {
    margin-top: 20px
}


/*select double*/
.select-double {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/*session*/
.select-session {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 56px;
    z-index: 11;
}
.drop-id-session {
    top: 320px;
    z-index: 11;
}
/*end of session*/
/*timezone*/
.select-timezone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 11;
}
.convert {
    align-self: flex-end;
    padding-right: 5%;
    font-size: 13px;
    color: rgb(66, 139, 202);
    text-decoration: none;

}
.drop-id-timezone {
    top: 390px;
    z-index: 10;
}
/*end of timezone*/

/*end of select double*/

/*First name*/
.first-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 56px;
    width: 100%;
    padding-left: 10px;
    z-index: 5;
}
.first-name input {
    width: 90%;
    border: 1px solid rgb(224, 224, 224);
    padding-left: 56px;
    padding-right: 20px;
    font-size: 18px;
    padding-bottom: 13px;
    padding-top: 13px;
}
.first-name img {
    position: relative;
    left: -85%;
    padding-top: 20px;
}
.asterix {
    position: relative;
    right: 10%;
    color: red;
    font-size: 25px;
    padding-top: 8px;
}
/*end of first name*/

/*email*/
.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 56px;
    width: 100%;
    padding-left: 10px;
    z-index: 5;
}
.email input {
    width: 90%;
    border: 1px solid rgb(224, 224, 224);
    padding-left: 56px;
    padding-right: 20px;
    font-size: 18px;
    padding-bottom: 13px;
    padding-top: 13px;
}
.email img {
    position: relative;
    left: -85%;
    padding-top: 20px;
}
/*end of email*/



/*Submit button*/
.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}
.submit button {
    width: 80%;
    background-color: rgb(36, 160, 209);
    height: 92px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 3px
}
.submit p {
    font-size: 10px;
    text-align: center;
    color: rgb(102, 102, 102);

}

/*End of submit button*/

/*End of register elements*/
/*End of register form*/

@media (min-width: 582px) {
    .btn-close {
        position: relative;
        top: -45px;
        right: -47%;
    }

    /*register form*/
    .register-form {
        width: 100%;
    }

    /*form title*/
    .form-title {
        margin-top: -50px;
    }
    .form-title h4 {
        font-weight: 300;
        font-size: 30px;
    }
    /*end of form title*/
    .dropdown {
        width: 85%;
    }
    .drop-menu-show {
        width: 81%;
        top: 260px;
    }
    /*select double*/
    .select-double {
        display: flex;
        flex-direction: row;
        align-items: flex-start
    }
    /*select session*/
    .select-session {
        margin-right: 20px;
    }
    .select-session button {
        margin-left: 15%;
    }
    .drop-id-session {
        top: 335px;
        left: 9%;
        width: 39.5%;
    }
    /*end of select session*/
    /*select-timezone*/
    .select-timezone button {
        margin-right: 15%;
    }
    .convert {
        margin-right: 12%;
    }
    .drop-id-timezone {
        top: 335px;
        right: 9%;
        width: 39.5%;
    }
    /*end of select timezone*/
    /*end of select double*/

    /*first name and email*/
    .first-name {
        padding-left: 5%;
    }
    .email {
        padding-left: 5%;
    }
    .asterix {
        right: 6%;
    }
    /*end of first and email*/

    /*submit*/


    .submit p {
        padding-left: 10%;
        padding-right: 10%;
    }
    /*end of submit*/


    /*end of register form*/

}

@media (min-width: 604px) {

}

@media (min-width: 661px) {
        .register-form {
        width: 660px;
        margin-top: 100px;
        }

        .drop-menu-show {
            width: 560px;
            top: 310px;
        }
        /*session dropmenu*/
        .drop-id-session {
            top: 385px;
            width: 270px;
            left: unset;
            margin-left: 23px;
        }
        /*timezone dropmenu*/
        .drop-id-timezone {
            top: 385px;
            width: 270px;
            right: unset;
            margin-left: -25px;
        }
}

@media (min-width: 932px) {
    .img-pointers {
        display: block;
    }
    .when-img {
        position: absolute;
        margin-left: -445px;
        margin-top: 95px;
    }
    .who-img {
        position: absolute;
        margin-left: 270px;
        margin-top: 210px;
    }

    /*form elements*/

    /*end of form elements*/
}