* {
    box-sizing: border-box;
}

html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato, Helvetica, sans-serif;
}


/*ul {
    list-style: none;
        list-style: none;
        margin-left: 0;
        padding-left: 1em;
        text-indent: -1em;
  }
  
  ul li:before {
    content: '✓';
  }*/

.large-wrapper li:before {
    content: '✔';   
    margin-left: -1em;
    margin-right: .100em;
    /*float: left;*/
    position: relative;
    top: 45px;
    right: 15px;
    font-weight: 1000;
    font-size: 20px;
}

.large-wrapper ul {
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}


  b {
      font-weight: 700
  }

/*Wrapper*/

.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/*Rows*/
.webinar-txt {
    color: white;

}
.row {
    /*border: 1px solid black;*/
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
    background-color: white
}

/*Header*/
.header {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bg-img {
    background-image: url(/resources/header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.large-wrapper {
    display: flex;
    flex-direction: column;
}

/*Main Title*/
.reveal {
    color: rgb(255, 227, 0);
    font-size: 50px
}
.main-title {
    color: white;
    font-size: 40px;
    margin-top: -35px;
    line-height: 40px;
    font-weight: 100;
}
/*End of Main Title*/


/*Header Description*/
.header-desc-container {
    margin-top: -35px;
}
.header-description {
    color: white;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
}
.header-description b {
    text-decoration: underline;
}
/*End of header description*/

/*Header Button*/
.attend-button {
    height: auto;
    background-color: rgb(255, 227, 0);
    border: none;
    border-radius: 5px;
    font-size: 1.36em;
    font-weight: 600;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 15px;
    /*padding-left: 30px;
    padding-right: 30px;*/
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
}
/*End of button*/

/*End of Header*/


/*Features*/

.features {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: center;
}

.features h3 {
    font-size: 23px;
    margin-top: 55px;
    font-family: "Open Sans", Helvetica, sans-serif !important;
    color: rgb(47, 47, 47);
}
.features li {
    text-align: left;
    padding-right: 10px;
    padding-left: 15px;
    margin-top: -45px;
    color: rgb(47, 47, 47);
}

.features p {
    font-size: 20px
}
.small-info-bottom {
    margin-bottom: 50px;
    color: rgb(47, 47, 47);
}

/*End of features*/

/*Watch Promotion*/
.watch-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.promo-title {
    color: white;
    font-size: 40px;
    font-family: Lato, Helvetica, sans-serif;
    margin-top: 50px
}
.watch-online .webinar-txt {
    margin-top: -30px
}
.watch-online .attend-button {
    margin-top: 20px
}
.button-title {
    font-size: 20px;

}
.button-sub {
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
}
.button-very-small {
    color: white;
    font-size: 13px;
    
}

/*End of Watch Promotion*/

/*About the host*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px
}
.host-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.host-img {
    /*width: 60%;*/
    width: 199.281px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.15);
    margin-top: 45px
}
.host-name {
    font-size: 23px;
    color: rgb(47, 47, 47);
    font-family: sans-serif;
}
.host-art {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(47, 47, 47);
}
.host-art h1 {
    float: left;
    margin-left: 10px
}
.host-txt {
    font-size: 16px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.txt-wrapper {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start*/
    margin-top: -20px
}
.click-btn-txt {
    margin-top: -2px;
    margin-left: 10px;
    margin-bottom: 50px;
    color: rgb(47, 47, 47);
}
/*End of about the host*/

/*Grab Your Seat*/
.grab-promo .webinar-txt {
    margin-top: -30px;
}
.grab-promo .attend-button {
    margin-top: 10px;
}
/*End of Grab Your Seat*/

/*footer*/
.footer {
    text-align: justify;
    font-size: 12.3px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(0, 0, 0)
}
.footer-cont {
    display: flex;
    flex-direction: column
}
.footer a {
    text-decoration: none;
    color: black;
}
.footer-links {
    margin-top: -12px
}

/*end of footer*/

@media (min-width: 423px) {
    .button-very-small {
        margin-bottom: 30px
    }
}

@media (min-width: 701px) {
    /*Page Header*/
    .reveal {
        margin-top: 25px;
    }
    .main-title {
        color: white;
        font-size: 60px;
        margin-top: -32px;
        line-height: 60px;
    }
    .header-desc-container {
        margin-top: -60px;
    }
    .header-description {
        font-size: 25px;
        padding-right: 0;
        padding-left: 0;
    }
    .attend-button {
        width: 98%;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .webinar-txt {
        font-size: 22px;
        margin-top: 5px
    }
    /*End of Page Header*/

    /*Features*/
    .features h3 {
        font-size: 38px;

    }
    .features ul {
        margin-top: -5px;
        font-family: "Open Sans", Helvetica, sans-serif !important
    }
    .features ul u {
        font-weight: 700;
    }
    .small-info-bottom {
        margin-left: -20px;
        margin-top: 0;
    }
    .button-very-small {
        font-size: 16px;
        font-family: "Open Sans", Helvetica, sans-serif !important;
        margin-bottom: 50px;
    }
    .double {
        padding-right: 85px;
        padding-left: 85px;
    }
    .button-sub {
        font-size: 18px;
        text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
        color: rgb(0, 0, 0);
        opacity: 0.7;
    }
    /*End of features*/

    /*Watch Online*/
    .promo-title {
        font-size: 44px;
    }
    /*End of Watch online*/

    /*About Host*/
    .host-img {
        width: 31%;
    }
    /*End of About Host*/

    /*Footer*/
    .footer {
        line-height: 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Open Sans", Helvetica, sans-serif !important;
    }
    .disclaimer {
        line-height: 17.14px;
        margin-top: -10px
    }
    /*End of footer*/
}

@media (min-width: 769px) {
    /*Header*/
    .large-wrapper {
        margin-left: 11%;
        margin-right: 11%;
    }
    .header-desc-container {
        margin-left: 10%;
        margin-right: 10%;
    }
    .header .button-container {
        margin-top: 10px;
    }
    .button-container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: -10px;
    }
    .header-btn {
        font-size: 27px
    }
    .button-very-small {
        margin-bottom: 35px;
    }
    
    /*End of header*/

    /*Features*/
    .features ul {
        margin-top: -10px;
        font-family: "Open Sans", Helvetica, sans-serif !important;
        margin-left: 10%;
        margin-right: 10%;
    }
    /*End of features*/

    /*Watch Online*/
    .attend-button {
        padding-right: 1%;
        padding-left: 1%;
    }
    .button-title {
        /*margin-left: 10%;
        margin-right: 10%;*/
        font-size: 27px;
    }
    .button-sub {
       /* margin-left: 20%;
        margin-right: 20%;*/
    }
    /*End of watch online*/

    /*About the host*/
    .about {
        display: block;
        padding-right: 0;
        padding-left: 0;
    }
    .about-large {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 4%;
        padding-right: 5%;
    }
    .host-picture-container {
        margin-left: 7%;
        width: 100%;
    }
    .host-img {
        width: 100%;
    }
    .host-art {
        padding-left: 3%;
        padding-right: 5%;
    }
    /*End of about the host*/

    /*Footer*/
    .footer {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .footer-cont {
        width: 50%;
        padding-right: 6%;
        line-height: 17px
    }
    .col-2 {
        width: 50%;
        padding-left: 6%;
    }
    /*End of footer*/
}